__pycache__/
.env
.coverage
htmlcov
abalone_boai.egg-info/
build/
dist/
/.idea/.gitignore
/.idea/Abalone-BoAI.iml
/abalone/black_moves.txt
/.idea/misc.xml
/.idea/modules.xml
/abalone/move_history.txt
/abalone/moves.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/abalone/white_moves.txt
